@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Ubuntu-regular/Ubuntu-regular.eot');
  src: url('./fonts/Ubuntu-regular/Ubuntu-regular.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu'),
       local('Ubuntu-regular'),
       url('./fonts/Ubuntu-regular/Ubuntu-regular.woff2') format('woff2'),
       url('./fonts/Ubuntu-regular/Ubuntu-regular.woff') format('woff'),
       url('./fonts/Ubuntu-regular/Ubuntu-regular.ttf') format('truetype'),
       url('./fonts/Ubuntu-regular/Ubuntu-regular.svg#Ubuntu') format('svg');
}

body {
    font-family: Ubuntu, verdana, georgia, serif, sans-serif;
}
.navbar-brand {padding: 9px;}
a, a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
    /*color: blue;*/
}
.bold {
    font-weight: bolder !important;
}
.sixty {
    width: 60%;
}
.twenty {
    width: 20%;
}
.fifteen {
    width: 15%;
}
.thirty {
    width: 30%;
}
.forty {
    width: 40%;
}
table {
    width: 100%;
}
div.panel, .btn, .navbar {
    border-radius: 0;
}
.form-control {
    border-radius: 0;
    height: 50px;
}
footer {
    margin-top: 40px;
    margin-bottom: 20px;
}
.pad {
    margin-top: 10px !important;
}
div.panel-body {
    padding-top: 10px;
}
.panel-primary > .panel-heading {
    border-radius: 0;
    background-color: rgba(44, 62, 80, .9);
}
.panel-primary {
    /*border-color: rgba(51, 122, 183, .5);*/
    /*box-shadow: 2px 2px 2px rgba(51, 122, 183, .2);*/
    border-color: rgba(44, 62, 80, .5);
    box-shadow: 2px 2px 2px rgba(44, 62, 80, .5);
}
.panel-title {
    margin-bottom: 10px;
}
.btn-primary {
    background-color: rgb(44, 62, 80);
    border-color: rgba(44, 62, 80, .5);
}
.btn-primary:hover, .btn-primary:active,
.btn-primary:focus, .btn-primary:visited  {
    background-color: rgba(44, 62, 80, .8);
    border-color: rgba(44, 62, 80, .5);
}
.big {
    font-size: 20px;
}
.modal-header {
    background-color: rgb(51, 183, 112);
    border-color: rgba(51, 183, 112, .5);
    box-shadow: 2px 2px 2px rgba(51, 183, 112, .2);
    color: white;
}
blockquote {
    padding: 1px 5px;
    margin: 0 0 10px;
    font-size: 13px;
    border-left: 3px solid rgba(51, 183, 112, .5);
}
.pagination>.active>a, .pagination>.active>a:focus, 
.pagination>.active>a:hover, .pagination>.active>span, 
.pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: rgba(51, 183, 112, .9); 
    border-color: rgba(51, 183, 112, .5);
}
body > nav {
    border-radius: 0 !important; 
}
#page {
    padding-top: 70px;
}
.navbar-form .form-control {
    height: 45px;
}
.pageTitle {
    font-size: 30px;
    font-weight: bold;
}
div.thumbnail {
    box-shadow: 1px 1px 1px 3px rgba(44, 62, 80, .2);
}
.thumbnail-q {
    box-shadow: 0 0 0 0 !important;
}
ul.summary {
    list-style-type: none;
    text-align: center;
}
ul.summary > li {
    display: inline-block;
    padding-left: 10px;
}
footer {
    border-top: 1px solid rgba(44, 62, 80, .2);
}
@media( max-width: 800px ) {
    div._panel div.info-bit {
        border-right: none;
        border-bottom: 1px solid rgba(44, 62, 80, .5);
    }
    div.info-bit-last {
        border-bottom: none;
    }
}

.order-template {padding: 1px;
margin-bottom: 0px; text-align: center; }
table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;

}
.order-template a {color:#fff;}


.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.custom-select {height: 29px;}
.dataTables_length {margin-left: 10px; width: 180px;}
.dataTables_length label {width: 100px;}

.form-control-sm {height: 29px; width: 200px; }
.dataTables_filter {width: 500px;
padding-right: 20px;}
.paginate_button {padding: 0!important;}
table.dataTable {
    width: 99% !important;}
.dataTables_paginate {width: 320px; height: 60px;}
.pagination { margin: 0px 15px 0 0; }
.dataTables_info {margin-left: 10px;}
.dataTables_wrapper {width: 99.9%;}
table.dataTable tbody td {
    padding: 8px 10px;
    text-align: center;
}
table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
    color: #333;
}
.active {border:none!important;}
.pagination > .disabled > a {
    color: #ecf0f1;
    background-color: gray;
    border-color: transparent;
    cursor: not-allowed;
}
.pagination > .disabled > a:hover {
    color: #ecf0f1;
    background-color: gray;
    border-color: transparent;
    cursor: not-allowed;
}
.pagination > .active > a {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

}
.pagination > .active > a:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
.pagination > li > a {
    position: relative;
    display: block;

    margin-left: -1px;

    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.pagination > li > a:hover{
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.carousel {
    margin-top: 20px;
}
.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.item .thumb img {
	width: 100%;
	margin: 2px;
}
.item img {
	width: 100%;
}

