<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ url_for('static', filename='imgs/fav.png') }}" rel="shortcut icon" type="image/x-icon" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bs/css/flatly.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

    </head>
    <body>
        {% if admin %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{url_for('index')}}"><img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="logo" width="120"></a>
                </div>
        
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{{ url_for('admin') }}"><i class="glyphicon glyphicon-dashboard"></i> Админ панель</a>
                        </li>
                        <li>
                            <a href="{{ url_for('add') }}"><i class="glyphicon glyphicon-plus-sign"></i> Добавить товар</a>
                        </li>
                        <li>
                            <a href="{{ url_for('index') }}" target="_blank"><i class="glyphicon glyphicon-chevron-left"></i> Показать сайт</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav" style="float: right;">
                        <li class="active">
                            <a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Выйти</a>
                          </li>
                      </ul>
                </div>

            </div>
        </nav>
        {% else %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{url_for('index')}}"><img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="logo" width="120"></a>
                </div>


                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">
                            <a href="{{ url_for('cart') }}">

                                <i class="glyphicon glyphicon-shopping-cart"></i> (<span id="successAlert">{{ count_cart }}</span>)
                            </a>
                        </li>
                    </ul>

<form class="navbar-form navbar-right" role="search" method="get" action="{{ url_for('search') }}">
        <div class="form-group">
          <input type="text" class="form-control" name="search" placeholder="Поиск по сайту" data-toggle="hideseek" data-list=".list">



        </div>

        <button type="submit" class="btn btn-warning">Найти</button>

      </form>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{url_for('index')}}">Главная</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Каталог <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Позиция 1</a></li>
            <li><a href="#">Позиция 2</a></li>
            <li><a href="#">Позиция 3</a></li>
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Оплата и доставка <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Доставка</a></li>
            <li class="divider"></li>
            <li><a href="#">Реквизиты</a></li>
          </ul>
        </li>
          <li><a href="#">Контакты</a></li>
      </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        {% endif %}

        <div class="container" id="page">

        {% block body %}{% endblock %}
            
            <footer>
                <div class="row pad">
                    <div class="col-lg-12 text-center">
                        Copyright &copy; 2021 <strong>Flask Store</strong>
                    </div>
                </div>
            </footer>
        </div>

        <!-- jQuery -->
        <script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
        <!-- Bootstrap JavaScript -->
        <script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
    <script>
    $('.btn-buy').click(function () {//клип на кнопку
        var id = $(this).attr('id'); //получаем id этой кнопки
        var count = 1
            $.ajax({//передаем ajax-запросом данные
            type: "POST", //метод передачи данных
            url: '/quick-add-json',//php-файл для обработки данных
            data: {id_tov: id},//передаем наши данные
            success: function(data) {
                $('#successAlert').text(data.count).show();

                }
            });
    });
</script>
<script>
        $(document).ready(function() {
            $('#search').hideseek({highlight: true});
        });
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/hideseek/0.8.0/jquery.hideseek.min.js" integrity="sha512-C+RpJPUPkaVe8twNayXS5KZDWZwFhFyVKOd2PqDFjStsvU2CWRVru1wDc353bhb/3tmfy9pXJAdMS/aq1xb+Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>
