
		<h3 class="bold">
			<i class="glyphicon glyphicon-th-list"></i> Ваш заказ
		</h3>

		<div class="panel panel-primary">
			<div class="panel-body">
				Текущая стоимость
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<p>
                        {{ quatity_total }} тов. <strong class="pull-right">{{ grand_total }} грн.</strong>
					</p>
					<p>
						Доставка <strong class="pull-right">{{ shipping }} грн.</strong>
					</p>
				</li>
				<li class="list-group-item">
					<p>Сумма: <strong class="pull-right">{{ grand_total_plus_shipping }} грн.</strong></p>

				</li>
			</ul>
			<div class="panel-footer" style="height: 50px;">
				 {% if session['cart'] == [] %} {% else %}
                 <a href="{{ url_for('checkout') }}" class="btn btn-primary btn-sm">
					Оформить заказ <i class="glyphicon glyphicon-chevron-right"></i>
				</a>
                {% endif %}
				<a href="{{ url_for('index') }}" class="btn btn-link btn-sm pull-right">
					<i class="glyphicon glyphicon-chevron-left"></i> Продолжить покупки
				</a>
			</div>
		</div>

