
		<h3 class="bold">
			<i class="glyphicon glyphicon-th-list"></i> Cart Summary
		</h3>

		<div class="panel panel-primary">
			<div class="panel-body">
				Current Cart Value
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<p>
                        {{ quatity_total }} Items <strong class="pull-right">&dollar;{{ grand_total }}</strong>
					</p>
					<p>
						24hr Shipping <strong class="pull-right">&dollar;{{ shipping }}</strong>
					</p>
				</li>
				<li class="list-group-item">
					<p>Total <strong class="pull-right">&dollar;{{ grand_total_plus_shipping }}</strong></p>

				</li>
			</ul>
			<div class="panel-footer">
				<a href="{{ url_for('checkout') }}" class="btn btn-primary btn-sm">
					Checkout <i class="glyphicon glyphicon-chevron-right"></i>
				</a>
				<a href="{{ url_for('index') }}" class="btn btn-link btn-sm pull-right">
					<i class="glyphicon glyphicon-chevron-left"></i> Continue Shopping
				</a>
			</div>
		</div>

