{% extends "base.html" %}

{% block title %}Страница товара | {{ product.name }}{% endblock %}
{% block keyw %}{{ product.keyw }}{% endblock %}
{% block desc %}{{ product.desc }}{% endblock %}
{% block body %}
<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li>
				<a href="{{ url_for('index') }}">Главная</a>
			</li>
			<li class="active">{{ product.name }}</li>
		</ol>
	</div>
</div>


<div class="row mb-5">
	    <div class="col-lg-5">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <a href="{{ url_for('static', filename=product.image) }}" rel="fancy"><img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}"></a>
                </div>
                <div class="item">
                    <a href="{{ url_for('static', filename=product.image2) }}" rel="fancy"><img src="{{ url_for('static', filename=product.image2) }}" alt="{{ product.name }}"></a>
                </div>
                <div class="item">
                    <a href="{{ url_for('static', filename=product.image3) }}" rel="fancy"><img src="{{ url_for('static', filename=product.image3) }}" alt="{{ product.name }}"></a>
                </div>
                <div class="item">
                    <a href="{{ url_for('static', filename=product.image4) }}" rel="fancy"><img src="{{ url_for('static', filename=product.image4) }}" alt="{{ product.name }}"></a>
                </div>

            </div>
        </div>
    <div class="clearfix">
        <div id="thumbcarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="item active">
                    <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}"></div>
                    <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="{{ url_for('static', filename=product.image2) }}" alt="{{ product.name }}"></div>
                    <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="{{ url_for('static', filename=product.image3) }}" alt="{{ product.name }}"></div>
                    <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="{{ url_for('static', filename=product.image4) }}" alt="{{ product.name }}"></div>
                </div><!-- /item -->

            </div><!-- /carousel-inner -->
            <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-- /thumbcarousel -->
    </div><!-- /clearfix -->
    </div>

	<div class="col-lg-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Подробнее о товаре</h3>
			</div>
         <form method="POST" action="{{ url_for('add_to_cart') }}">
          {{ form.csrf_token }}
			<div class="panel-body">
				<h3>{{ product.name }} &nbsp; <small>
                    {% if product.stock > 0 %}
                    (Есть на складе)
                    {% else %}
                    (Нет в наличии)
                    {% endif %}
                </small></h3>
				<h4>{{ product.price }} грн.</h4>
				<hr />
                {{ product.description | safe}}
                <hr />

            {% if product.stock > 0 %}
				<div class="row">
					<div class="col-lg-4">
						<div class="row">
							<div class="col-lg-12">
								Количество
							</div>
							<div class="col-lg-12">
								{{ form.quantity(class='form-control',type='number', min=1, max=product.stock, step=1, value=1) }}
                                {{ form.id(value=product.id) }}
                            </div>
						</div>
					</div>
				</div>
            {% endif %}

			</div>
			<div class="panel-footer">
                 {% if product.stock > 0 %}
				<button type="submit" class="btn btn-success">
					<i class="glyphicon glyphicon-shopping-cart"></i> Добавить в корзину
				</button>
                {% endif %}
			</div>
        </form>

		</div>

		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#description" aria-controls="description" role="tab" data-toggle="tab">Характеристики</a>
				</li>
				<li role="presentation">
					<a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab">Доставка и оплата</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active text-justify" id="description">
					<h3>Характеристики товара</h3>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
				<div role="tabpanel" class="tab-pane text-justify" id="shipping">
					<h3>Доставка и оплата</h3>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
		</div>

	</div>


</div>

    <div class="row" style="margin-top:50px;">
    <div class="col-lg-12 text-justify">
        <h3>Коментарии</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut excepturi ipsa laboriosam, natus quasi quis. Consectetur dolores eligendi, illo iusto molestias recusandae. Asperiores consequuntur ex ipsum laborum pariatur quisquam.</p>


    </div>
    </div>

{% endblock %}
